@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            YGN Software & Consulting Information and Support Line
        </p>

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
           Kayseri/Türkiye
        </p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            info@ygnsoft.com
        </p>
    </div>
</div>